body {
    background-color: #f1faee;
}

h1,
h2 {
    color: #1d3557;
}

button {
    background-color: #a8dadc;
}

#botao {
    /* serve para selecionar somente um elemento pelo ID*/
    background-color: #1d3557;
    color: #f1faee;
}

.test {
    /* serve para selecionar somente um elemento pelo nome da classe*/
    color: white;
    font-size: 30px;
    background-color: red;
}

.posts a {
    color: #7756d1;

}

footer a {
    color: #1d3557;
}

input[type="password"] {
    background-color: #a8dadc;
    color: #1d3557;
}

input[type="text"] {
    background-color: #a8dadc;
    color: #1d3557;

}

button:hover {
    background-color: #457b9d;
    color: #f1faee;
}

a:hover {
    color: #d3463c;
    text-decoration: underline;

}

header {
    text-align: right;
}

h1 {
    text-align: center;
}

a {
    text-decoration: none;
}

footer a:hover {
    font-size: large;
}

button:active {
    /* serve para selecionar um elemento quando ele estiver sendo clicado*/
    background-color: #1d3557;
    color: #f1faee;
}

.posts:nth-of-type(2n) {
    background-color: #dfe8dc;
}

label:hover {
    color: #1d3557;

}

/*
button:hover {
    background-color: olivedrab;
    color: #f1faee;
    font-size: 10px;
}
*/